name: Test PR
on:
  pull_request:

jobs:
  lint-validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: hashicorp/setup-terraform@v3
      - name: Init
        run: terraform init
      - name: Validate
        run: terraform validate
      - name: tfsec
        uses: aquasecurity/tfsec-pr-commenter-action@v1.3.1
        with:
          github_token: ${{ github.token }}
      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@v6
      - name: Install tflint plugins
        run: tflint --init
      - name: Lint Terraform files
        run: tflint
  terratest:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: tests
    services:
      localstack:
        image: localstack/localstack
        ports:
          - 4566:4566
    steps:
      - uses: actions/checkout@v6
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_wrapper: false
      - uses: actions/setup-go@v6
      - run: cp mocks/mock_provider.tf ../
      - run: terraform -chdir=.. init
      - name: terratest
        run: go test
  dependabot:
    needs: [lint-validate, terratest]
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    if: ${{ github.actor == 'dependabot[bot]' }}
    steps:
      - name: Enable auto-merge for Dependabot PRs
        run: gh pr merge --auto --rebase "$PR_URL"
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
